html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
.mainNav__open {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 0;
  box-shadow: 0 0 3px rgba(1, 2, 2, 0.75);
}
.mainNav__open::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 3px;
  background-color: #ff5722;
  box-shadow: 0 -9px 0 0 #ff5722, 0 9px 0 0 #ff5722;
}
.main-menu__items {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 375px;
  box-shadow: 0 0 6px rgba(1, 2, 2, 0.75);
}
.mainNav__close {
  position: absolute;
  right: -60px;
  top: 20px;
  width: 60px;
  height: 60px;
  background-color: #ff5722;
  border: none;
  outline: none;
  font-size: 0;
}
.mainNav__close::before,
.mainNav__close::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 50%;
}
.mainNav__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.mainNav__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main-menu__item-email {
  position: relative;
  display: block;
  padding: 26px 0;
  padding-left: 70px;
  box-shadow: inset 0 -1px 0 0 #ececec;
  color: #676767;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  background-color: #fff;
  z-index: 11111;
}
.main-menu__item-email:hover {
  color: #676767;
}
.main-menu__item-logo {
  padding-top: 55px;
  padding-bottom: 90px;
  text-align: center;
  box-shadow: inset 0 -1px 0 0 #ececec;
}
.main-menu__item-link {
  position: relative;
  display: block;
  padding: 20px 0;
  padding-left: 100px;
  box-shadow: inset 0 -1px 0 0 #ececec;
  line-height: 23px;
  font-size: 16px;
  text-transform: uppercase;
  color: #676767;
  font-weight: 600;
  background-color: white;
  z-index: 10;
}
.main-menu__item {
  background-color: #fff;
}
.main-menu__item-link:hover {
  text-decoration: none;
  color: #676767;
}
.main-menu__item-link-active {
  color: #ff5722;
}
.main-menu__item-link-active:hover {
  text-decoration: none;
  color: #ff5722;
}
.main-menu__item-link-active::before {
  content: '';
  position: absolute;
  height: 63px;
  width: 5px;
  background-color: #ff5722;
  left: 0;
  top: -1px;
}
.header-page__logo {
  padding: 14px 0;
  margin: 0;
}
.header-page__wrapper {
  display: flex;
  align-items: center;
}
.header-page__social-icons {
  display: flex;
  justify-content: space-between;
}
.header-page__phone {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-left: 42px;
  color: #676767;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.header-page__phone:hover {
  color: #676767;
}
.icon-phone {
  position: absolute;
  top: 4px;
  left: 7px;
  font-size: 23px;
}
.header-page__social-icons {
  margin-left: 5px;
  font-size: 0;
}
.header-page__social {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 24px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  color: #e1e1e1;
}
.header-page__social:hover {
  background-color: #ff5722;
  border: 1px solid #ff5722;
  color: white;
}
.header-page__search {
  position: relative;
  display: block;
  padding: 15px;
  padding-right: 35px;
  box-sizing: border-box;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  color: #a5a5a5;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.icon-search {
  position: absolute;
  font-size: 18px;
  color: #b2b2b2;
}
.header-page__logo {
  margin-left: -15px;
}
.header-page__search-form {
  position: relative;
}
.icon-search {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.header-page__search:focus + .icon-search {
  color: #ff5722;
}
.promo-page {
  background-color: #4c4c4c;
  background-image: url(../../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto 0;
  box-sizing: border-box;
  padding-top: 294px;
  padding-bottom: 301px;
}
.promo-page__slider-item-title {
  margin: 0;
  margin-left: -10px;
  margin-bottom: 26px;
  color: white;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
}
.promo-page__slider-item-text {
  margin: 0;
  margin-left: -15px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  margin-bottom: 85px;
}
.promo-page__slider-item-btns {
  display: flex;
  justify-content: space-between;
}
.promo-page__slider-item-btn {
  margin-left: -15px;
  padding: 15px 0;
  display: block;
  width: 135px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 3px;
}
.promo-page__slider-item-btn--order {
  background-color: #ff5722;
  color: white;
}
.promo-page__slider-item-btn--order:hover {
  color: white;
}
.promo-page__slider-item-btn--more {
  background-color: #fff;
  color: #ff5722;
}
.promo-page__slider-item-btn--more:hover {
  color: #ff5722;
}
.promoPage__slider {
  position: relative;
}
.promoPage__slider-btns {
  position: absolute;
  top: -195px;
  right: 54px;
  margin: 0 auto;
}
.promoPage__slider-btn {
  padding: 0;
  margin: 0;
  display: block;
  width: 67px;
  line-height: 65px;
  margin-bottom: 7px;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
  font-size: 26px;
  text-align: center;
}
.promoPage__slider-btn:hover,
.promoPage__slider-btn:active {
  background-color: #ff5722;
  color: white;
  border-color: #ff5722;
}
